* {
    box-sizing: border-box;
}

.divMainShowAllCat {
    width: 100%;
    height: auto;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2px;
    padding: 0px 110px 0px 110px;
}

.divLineKeeperShowCat {
    width: 100%;
    border-bottom: 1px solid rgba(231, 233, 255, 0.74);
    margin-top: 5px;
}

.divEachCatShowCat {
    width: auto;
    min-width: 65px;
    height: 25px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 5px 0px 5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 2px 4px 7px 1px rgb(226, 226, 226);
    color: rgb(61, 61, 61);
}

.divEachCatShowCatActive {
    width: auto;
    min-width: 65px;
    height: 25px;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 800;
    padding: 0px 5px 0px 5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 2px 7px 1px rgb(150, 150, 150);
    color: rgb(41, 108, 163);
    animation-name: animationBTNCatItems;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animationBTNCatItems {
    0% {
        border-color:  rgb(199, 199, 199);
    }

    100% {
        border-color:  rgb(255, 255, 255);
    }
}


.divEachCatShowCat:hover {
    box-shadow: 2px 4px 7px 1px rgb(180, 180, 180);
    transition: box-shadow 0.4s;
}