.divMainAfterHeaderInAboutus {
    width: 100%;
    height: auto;
    background-image: linear-gradient(0deg, rgb(244, 246, 255)20% , rgb(176, 185, 255)90%);
    margin-top: 150px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 30px 10px 30px;
}
.divMainAfterHeaderInAboutusDark{
    background-image: linear-gradient(0deg, rgba(17, 17, 17, 0.849)15% , rgb(0, 42, 77)90%); 
}
.divHeaderAfterHeaderAboutus {
    width: 90%;
    height: 130px;
    background-image: linear-gradient(25deg, rgb(1, 66, 128), rgb(93, 123, 150));
    border-radius: 5px;
    position: absolute;
    top: -70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.IMGinHeaderAboutUs {
    width: 100px;
    height: 150px;
}

.H2InAboutUs {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    user-select: none;
}

.divKeeperOtherInfoAboutUs {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    padding: 20px 0px 20px 0px;
}
.textDarkAbout{
    color: rgb(255, 255, 255) !important;
}
.IMGAboutUsOurFacory {
    width: 100%;
    height: 250px;
    border: 2px solid rgba(255, 255, 255, 0.445);
    border-radius: 150px 5px 150px 5px;
}

.PtagInAboutUs {
    text-align: center;
    margin-top: 10px;
    color: rgb(90, 90, 90);
}